*{
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

/* small device */
@media(max-width:640px){
    *{
        margin: 0;
        padding: 0px;
        overflow-x: hidden;
    }
    
    *{
        margin: 0;
        padding: 0px;
    }
    
    
    header {
        height: auto;
        background-color: #fff;
    }
    
    header .container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }
    
    
    header .container .pic img{
        display: none;
    }
    
    header .container .title {
        width: 100%;
        height: 100%;
    }
    
    header .container .title ul{
        height: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        text-align: center;
    }
    
    header .container .title ul li a{
        font-size: 14px;
        padding-top: 10px;
        text-decoration: none;
        color: #000;
    }
    header .container .title ul li {
        list-style: none;
    }

    header .container .title ul li a:hover{
        /* text-decoration: overline; */
        color: red;
        border-top: 1px solid red;
    }
    
    /* main */

    main{
        width: 100%;
        background-color: #fff;
    }

    main .text{
        width: 100%;
    }

    main .text h1{
        font-size: 32px;
        color: #000;
        font-weight: 900;
    }
    
    main .text p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 100;
        color: #6f6f6f;
    }
    
    main .text span {
        display: flex;
        flex-direction: column;
        border-left: 5px solid red;
        font-size: 18px;
        padding: 10px 10px 10px;
        color: #6f6f6f;
    }
    
    main .text h2{
        padding: 40px 0;
        line-height: 35px;
        font-size: 18px;
        color: #6f6f6f;
    }
    
    main .video .video1 video {
        width: 100%;
        
    
    }
    
   /* footer */

footer{
    padding: 50px 0px 0px 0px;
    background-color: #fff;
}


footer .section4{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

footer .section4{
    background-color: #222732;
    padding: 50px 0px;
}

footer .section4 .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .section4 img{
    width: 40%;
    color: #fff;
}
footer .informacion1 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    list-style: none;
    padding: 30px 0;
    
}

footer .informacion1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-left: 20px;
}
footer .informacion1 ul span li a{
    display: flex;
    justify-content:center;
    align-items: flex-start;

}

footer .informacion1 ul li{
    color: red;
}

footer .informacion1 ul li a:hover{
    color: red;

}

footer .section4 .informacion2 h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
}

footer .section4 .contact h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-size: 28px;
}

footer .section4 .contact span{
    color: red;
}

footer .section4 .contact h2{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;

}

footer .section4 .contact p{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content:center;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 14px;

}

footer .section4 .end h1{
    border-bottom: 1px solid rgb(65, 65, 65);
    width: 100%;
    padding: 20px 0px;
    
}

footer .section4 .end a{
    color: #fff;
}

footer .section4 .end span{
    color: #fff;
}
}

/* medium device */
@media(min-width:640px){
    *{
        margin: 0;
        padding: 0px;
        overflow-x: hidden;
    }
    
    
    header {
        height: 70px;
        background-color: #fff;
    }
    
    header .container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }
    
    
    header .container .pic img{
        display: none;
    }
    
    header .container .title {
        width: 100%;
        height: 100%;
    }
    
    header .container .title ul{
        height: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        text-align: center;
    }
    
    header .container .title ul li a{
        font-size: 14px;
        padding-top: 10px;
        text-decoration: none;
        color: #000;
    }
    header .container .title ul li {
        list-style: none;
    }
    
    header .container .title ul li a:hover{
        /* text-decoration: overline; */
        color: red;
        border-top: 1px solid red;
    }
    /* main */

    main{
        width: 100%;
        background-color: #fff;
        padding: 50px 0px;
    }

    main .text{
        width: 100%;
    }

    main .text h1{
        font-size: 32px;
        color: #000;
        font-weight: 900;
    }
    
    main .text p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 100;
        color: #6f6f6f;
    }
    
    main .text span {
        display: flex;
        flex-direction: column;
        border-left: 5px solid red;
        font-size: 18px;
        padding: 10px 10px 10px;
        color: #6f6f6f;
    }
    
    main .text h2{
        padding: 40px 0;
        line-height: 35px;
        font-size: 18px;
        color: #6f6f6f;
    }
    
    main .video .video1 video {
        width: 100%;
        
    
    }
    
   /* footer */

footer{
    padding: 50px 0px 0px 0px;
    background-color: #fff;
}


footer .section4{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

footer .section4{
    background-color: #222732;
    padding: 50px 0px;
}

footer .section4 .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .section4 img{
    width: 40%;
    color: #fff;
}
footer .informacion1 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    list-style: none;
    padding: 30px 0;
    
}

footer .informacion1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-left: 20px;
}
footer .informacion1 ul span li a{
    display: flex;
    justify-content:center;
    align-items: flex-start;

}

footer .informacion1 ul li{
    color: red;
}

footer .informacion1 ul li a:hover{
    color: red;

}

footer .section4 .informacion2 h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
}

footer .section4 .contact h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-size: 28px;
}

footer .section4 .contact span{
    color: red;
}

footer .section4 .contact h2{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;

}

footer .section4 .contact p{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content:center;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 14px;

}

footer .section4 .end h1{
    border-bottom: 1px solid rgb(65, 65, 65);
    width: 100%;
    padding: 20px 0px;
    
}

footer .section4 .end a{
    color: #fff;
}

footer .section4 .end span{
    color: #fff;
}
}

/* large device */
@media(min-width:1120px){
    *{
        margin: 0;
        padding: 0px;
    }
    
    
    header {
        height: auto;
        background-color:#222732 ;    
    }
    
    header .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
    header .container .pic{
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    header .container .pic img{
        width: 18%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header .container .title {
        width: 100%;
        height: 100%;
    }
    
    header .container .title ul{
        height: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        text-align: center;
    }
    
    header .container .title ul li a{
        font-size: 18px;
        padding-top: 10px;
        text-decoration: none;
        color: #fff;
    }
    header .container .title ul li {
        list-style: none;
    }
    
    header .container .title ul li a:hover{
        /* text-decoration: overline; */
        color: red;
        border-top: 1px solid red;
    }
    
    main .text{
        padding: 120px 0px 120px 50px;
        width: 75%;
    }
    
    main .text h1{
        font-size: 48px;
        color: #000;
        font-weight: 900;
    }
    
    main .text p{
        font-size: 20px;
        font-weight: 100;
        color: #6f6f6f;
    }
    
    main .text span {
        display: flex;
        flex-direction: column;
        border-left: 5px solid red;
        font-size: 20px;
        padding: 10px 10px 10px;
        color: #6f6f6f;
    }
    
    main .text h2{
        padding: 40px 0;
        line-height: 35px;
        font-size: 20px;
        color: #6f6f6f;
    }
    
    main .video .video1 video {
        width: 122%;
        
    
    }
    
    /* footer */
    
    footer .section4{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    footer .section4{
        background-color: #222732;
        padding: 50px 0px;
    }
    footer .section4 img{
        width: 60%;
        color: #fff;
    }
    
    footer .informacion1 ul li a{
        display: flex;
        align-items:center;
        justify-content: space-between;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        padding: 10px 0;
    }
    footer .informacion1 ul span li a{
        display: flex;
        justify-content:center;
        align-items: flex-start;
    
    }
    
    footer .informacion1 ul li{
        color: red;
    }
    
    footer .informacion1 ul li a:hover{
        color: red;
    
    }
    
    footer .section4 .informacion2 h1{
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 100;
        color: #fff;
        font-size: 20px;
    }
    
    footer .section4 .contact h1{
        display: flex;
        align-items: center;
        justify-content: end;
        text-align: end;
        font-weight: 900;
        color: #fff;
        font-size: 28px;
    }
    
    footer .section4 .contact span{
        color: red;
    }
    
    footer .section4 .contact h2{
        display: flex;
        align-items: center;
        justify-content:end;
        text-align: end;
        color: #fff;
        font-size: 18px;
        padding: 10px 0;
    
    }
    
    footer .section4 .contact p{
        display: flex;
        width: 80%;
        margin-left: 20%;
        align-items: flex-end;
        justify-content:end;
        text-align: end;
        color: #fff;
        font-size: 16px;
    
    }
    
    footer .section4 .end h1{
        border-bottom: 1px solid rgb(65, 65, 65);
        width: 380%;
        margin-left: 10%;
        padding: 20px 0px;
        
    }
    
    footer .section4 .end a{
        color: #fff;
        padding: 5px 0px;
        
    }
    
    footer .section4 .end span{
        color: #fff;
    }
}